---
import CardExperiences from "../../CardExperiences.astro";

const experiences = [
  {
        title: "Invitro Agencia",
        body: "Creación de sitios con panel administrativo Wordpress para webs catálogos, ecommerce, landing pages usando Javascript y PHP.<br>Colaboré con diseñadores y otros desarrolladores para garantizar experiencias de usuario reflexivas y consistentes en las páginas y sistemas web. <br> Propuse una nueva forma de trabajo utilizando las Apis de Wordpress que nos permiten trabajar con nuevas tecnologías como React, Angular y Astro.",
        date: "2024 - 2025",
        image:"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT07rFXjpX1WNsW4jFHMbWLC7FmNxQKo4Z1BQ&s",
        tecnologies: ["PHP", "HTML", "CSS", "Javascript", "ASTRO"],
    },{
        title: "Frontend-React",
        body: "Realize mis primeros pasos en React participando en la creación de una aplicación Web para el control de asistencia de los trabajadores de una minería",
        date: "2024",
        image: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOWu3n1caMCtLH8U6Fd1S4o-JuVvxBBmqYZw&s",
        tecnologies: ["react", "Tailwind", "query"]

    },{
        title: "Freelance",
        body: `Iniciando aprendizaje autodidacta en el mundo de la programación con la obtención de diplomas entre diversas plataforma e-learning: Crehana, Platzi y Udemy.`,
        date: "2022 - 2023",
        image:"https://logos-world.net/wp-content/uploads/2021/11/Udemy-Logo.png",
        tecnologies: ["JS", "CSS", "HTML", "Tailwind"],
    }   
]
---
<div id="experience">
    <div class="container">
        {
            experiences.map((project, index) => {
                const { title, body, image, date } = project

                const order = index % 2 === 0 ? true : false

                return(
                    
                    <CardExperiences
                        title={title}
                        body={body}
                        image={image}
                        date={date}
                        {order}
                    />
                )
            })
        }
    </div>
</div>

<style>
    #experience {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 100dvh;
        margin-top: 90px;
        justify-content: center;
        align-items: center;
        padding:0 12px;
    }
    #experience>.container {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 3rem;
        
    }

    @media (width < 800px) {
        #experience {
            margin-top: 120px;
            min-height: auto;
        }
    }


</style>
